html, body{
    font-size: 8px;
    font-family: sans-serif;
}
header{
    height: 8rem;
    display: flex;
    position: relative;
}
.header__leftside{
    display: flex;
    width: 50%;
    position: relative;
    align-items: baseline;
}
.header__rightside{
    display: flex;
    width: 50%;
    position: relative;
    align-items: baseline;
}
.title{
    color: turquoise;
    padding: 2rem;
    font-size: 3rem;
}
.descriptions{
    color: grey;
    font-size: 2rem;
}
.password{
    color: turquoise;
    font-size: 2rem;
    right: 24rem;
    position: absolute;
    padding: 2rem;
}
.user{
    color:navy;
    font-size: 2rem;
    right: 0rem;
    position: absolute;
    padding: 2rem;
}
section{
    height: 75rem;
    display: flex;
    position: relative;
}
.section__leftside{
    width: 40%;
    height: 100%;
    display: flex;
    background-color:lightseagreen;
    position: relative;
    justify-content: center;
}
.section__rightside{
    width: 60%;
    height: 100%;
    background: red;
    display: flex;
    flex-direction: column;
    position: relative;
}
.packs{
    width: 45rem;
    margin-top: 6rem;
    height: 50rem;
    background: white;
    display: flex;
    flex-direction: column;
    border-radius: 1em;
    align-items:flex-start;
    
}
a:hover{
    color: blue    
}
li{
    margin-bottom: 2rem;
}
input{
    border-radius: 2rem;
    margin-left: 2rem;
    width: 33rem;
}
p{
    margin: 2rem;
}
.rightside__title{
    background:lightseagreen;
    width: 100rem;
    height: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: baseline;
}
button{
    margin-left: 10rem;
    border-radius: 2rem;
}
.green{
    background: green;
    border-color: green;
    color: white;
}
.purple{
    background: purple;
    border-color: purple;
    color: white;
}
.lan{
    color: grey;
    font-size: 2rem;
    height: 4rem;
    border-top: 0.25rem solid;
    border-bottom: 0.25rem solid;
    border-bottom-color:white ;
    border-top-color: white;
    text-align: start;
    display: flex;
    justify-content: space-evenly;
}